* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191719;
  color: #bcbaba;
}

hr {
  border: 2px double #00aaa3;
}

span {
  color: #00aaa3;
}

#mode-toggler {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
}

a,
.navbar-brand,
.nav-link {
  color: #bcbaba;
}

a:hover,
.navbar-brand:hover,
.nav-link:hover {
  color: #00aaa3;
  text-shadow: 0px 0px 15px #bcbaba;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.title {
  height: auto;
  overflow-x: hidden;
  animation: fadeIn 2s linear forwards;
}

.title-text {
  padding: 20% 0 0 15%;
}

.navbar {
  border-bottom: 2px double #00aaa3;
}

.toggler {
  color: #bcbaba;
}

#navbar-placeholder {
  height: 0;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #191719;
  color: #bcbaba;
  border-bottom: 2px double #00aaa3;
}

.about-img-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-img {
  width: 15em;
  box-shadow: 0px 0px 125px 5px #bcbaba, 0px 0px 55px 5px #00aaa3;
  border-radius: 100%;
}

.about-text {
  text-align: center;
}

.skill {
  width: 5em;
  font-size: 1.2em;
}

.skill:hover {
  color: #00aaa3;
  text-shadow: 0px 0px 15px #bcbaba;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
  overflow: hidden;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.laptop {
  background: url("images/laptop.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.app {
  background: url("images/js.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.game {
  background: url("images/react.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.flip-card-back {
  background-color: #191719;
  border: 1px solid #00aaa3;
  transform: rotateY(180deg);
}

/* Contacts */
#contacts {
  text-align: center;
  justify-content: center;
}

.contacts-text {
  max-width: 25em;
  height: 10em;
  margin: 0 auto;
}

.links {
  color: #00aaa3;
}

.links:hover {
  text-shadow: 0 0 5px #bcbaba;
}

.login {
  max-width: 20em;
  height: auto;
  border: 1px solid #00aaa3;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  margin: 2.5em auto;
}

label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

input {
  height: 2.5em;
  border-radius: 20px;
  padding: 0 1.5em;
  border: 1px solid #00aaa3;
  background-color: transparent;
  transition: all 0.5s ease;
}

textarea {
  border-radius: 20px;
  padding: 0 1.5em;
  border: 1px solid #00aaa3;
  background-color: transparent;
  transition: all 0.5s ease;
  resize: vertical;
}

input:focus, textarea:focus {
  color: #bcbaba;
}

.send-btn {
  color: #bcbaba;
  border: 1px solid #00aaa3;
}

.login:hover,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
.send-btn:hover {
  outline: 1px solid #bcbaba;
  box-shadow: 0 0 10px #bcbaba, 0 0 15px #00aaa3;
}

.footer {
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  border-top: 2px double #00aaa3;
}

.footer a {
  text-decoration: none;
}

.light {
  background-color: #bcbaba;
  color: #191719;
}
.light body {
  background-color: #bcbaba;
  color: #191719;
}
.light .check-btn {
  color: #191719;
}
.light .navbar {
  background-color: #191719;
}
.light .about-img {
  box-shadow: 0px 0px 125px 5px #191719, 0px 0px 55px 5px #00aaa3;
}
.light .flip-card-front {
  color: #191719;
}
.light .laptop {
  background: url("images/laptop-light.jpg") no-repeat;
  background-size: cover;
}
.light .app {
  background: url("images/js-light.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.light .game {
  background: url("images/react-light.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.light .flip-card-back {
  background-color: #bcbaba;
}
.light .flip-card a {
  color: #191719;
}
.light .flip-card a:hover {
  color: #00aaa3;
  text-shadow: 0px 0px 15px #bcbaba;
}
.light .links:hover {
  text-shadow: 0 0 15px #191719;
}
.light .send-btn {
  color: #191719;
}
.light footer a {
  color: #191719;
}
.light footer a:hover {
  color: #00aaa3;
  text-shadow: 0px 0px 15px #bcbaba;
}
.light .login:hover,
.light input:hover,
.light input:focus,
.light textarea:hover,
.light textarea:focus,
.light .send-btn:hover {
  outline: 1px solid #191719;
  box-shadow: 0 0 10px #191719, 0 0 15px #00aaa3;
}/*# sourceMappingURL=styles.css.map */